.main {
  background: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.main>*
{
	align-self: center;
}
.head
{
	font-size: 70px;
}
.info
{
	width:60vw;
	line-height: 40px;
	text-align: center;
}
.myButton {
	box-shadow: 0px 2px 0px 0px #9fb4f2;
	background-color:#7892c2;
	border-radius:28px;
	border:1px solid #bfc5d9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#476e9e;
	text-decoration:none;
	color:white;
}
.myButton:active {
	position:relative;
	text-decoration:none;
	top:1px;
}

